@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ẩn thanh cuộn nhưng vẫn cho phép cuộn */
::-webkit-scrollbar {
	display: none;
}

* {
	scrollbar-width: none; /* Firefox */
	-ms-overflow-style: none; /* IE và Edge */
}
